/* global style start */
*{
    margin:0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto
}
/* global style end */

/* header section style start */
.hero-section{
    background-image: url(./images/banner3.png);
    background-position: center center;
    background-size: cover;
    height: 808px;
}
.head-content{
    padding-top: 260px;
    text-align: right;
    color: #fff;
}
.main-heading{
    font-size: 52px;
}
.paragraph{
    margin: 20px 0;
}
.button{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Work Sans';
    color: #005FAC;
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 16px 40px;
}
/* header section style end */

/* about style start */
.sec-w-image{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec-content{
    margin-left: 50px;
}
.second-heading{
    font-size: 38px;
}
.sec-content ul{
    list-style-type: none;
}
.sec-content ul li{
    padding: 5px 0;
}
/* about style end */

/* third section style start */
.third-section{
    padding: 80px 0;
}
.third-heading{
    font-size: 38px;
    text-align: center;
}
.plan-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.single-plan{
    text-align: center;
}
.single-plan h3{
    font-size: 26px;
    margin: 10px 0;
}
/* third section style end */

/* fourth section css start*/
.bg-img-container{
    background-image: url(./images/gradient1.png), url(./images/watch.png);
    background-position: left center, center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 50px 30px;
    border-radius: 10px;
}
.white-heading{
    font-size: 32px;
    color: #fff;
    margin-bottom: 30px;
}
/* fourth section css end */

/* footer style start */
footer{
    background-color: #000;
    padding: 80px 0;
    margin-top: 50px;
}
.footer-col{
    display: flex;
    justify-content: space-between;
}
footer p{
    color: #fff;
    margin: 15px 0;
}
.second-f-col h3{
    color: white;
    margin-bottom: 30px;
}
input[type=email]{
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(238, 238, 238, 0.423);
    padding: 15px 10px;
    border-radius: 5px;
}
::placeholder {
    color: #fff;
    opacity: 1; 
}
form button{
    background-color: #005FAC;
    color: #fff;
    padding: 15px 40px;
    margin-top: 20px;
    border: 0px;
    border-radius: 5px;
}
/* footer style end */